@use '../../scss/abstracts';

.wp-block-md-shockerhitch-md-subscribe {
    width: 100%;
    .form-group-radio {
        display: flex;
        gap: 30px;
        margin-bottom: 26px;
        input {
            margin-right: 5px;
        }
    }
    .form-group-subscribe {
        .form-group {
            display: flex;
            input[type=email] {
                width: 100%;
                border-radius: 0;
                background: #fff;
                box-shadow: none;
                border: 1px solid #e5e5e5 !important;
                padding: 15px 9px 15px 24px;
            }
            input[type="submit"] {
                border-radius: 0;
                margin: 0;
                transition: .5s;
                background-color: #011dfe;
                border-color: #011dfe;
                text-transform: uppercase;
                padding: 16px 30px;
                color: #fff;
                text-decoration: none;
                font-weight: 600;
                text-shadow: none;
            }
        }
    }
}
