@use '../../scss/abstracts';
.is-layout-constrained > .wp-block-md-shockerhitch-md-category-banner {
    margin-left: 0 !important;
    margin-right: 0 !important;
    max-width: 100%;
    .md-category-banner {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        .md-category-banner__content {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            min-height: 300px;
        }
    }
}
