@use "../../scss/abstracts";

.wp-block-md-porto-sample-block {
  background-color: abstracts.$green-theme-color;
  color: abstracts.$white-theme-color;
  padding: 5px 10px;
}

.md_number_block__section {
  display: flex;
  gap: 10px;
  align-items: center;
  .md_number_block {
    flex: auto 1;
    padding: 20px 0;
    z-index: 9;
    position: relative;
    text-align: center;
    .md_number_block__heading {
      padding: 20px;
      margin: 10px;
      h4 {
        font-size: 16px;
        font-weight: 500;
        margin: 0;
        margin-bottom: 1rem;
      }
      h2 {
        font-size: 3.5em;
        line-height: 1;
        font-weight: 600;
        margin: 0;
        margin-bottom: 1.5rem;
      }
      p {
        font-size: 14px;
        font-weight: 400;
        margin: 0;
        margin-bottom: 1.5rem;
      }
    }
    .md_number_block__slider_wrap {
      .md_number_block__slider {
        display: flex;
        flex-wrap: wrap;
        .logo-slide {
          .md-portomd_number_block__item-icon {
            border: 1px solid lightgray;
            border-radius: 10px;
            padding: 20px;
            margin: 10px;
            .md-portomd_number_block__item-icon__wrapper {
              display: flex;
              align-items: center;
              justify-content: center;
              text-align: center;
              flex-direction: column;
              &-heading {
                display: flex;
                gap: 10px;
                align-items: center;
                .number-list {
                  span {
                    font-size: 5em;
                    letter-spacing: -3.5px;
                    font-weight: bolder;
                    display: inline-flex;
                    font-family: var(--wp--preset--font-family--poppins);
                    line-height: 1;
                  }
                  .md-portomd_number_block__item-icon__wrapper-line {
                    display: inline-block;
                    margin: 0 20px;
                  }
                }
              }
              h4 {
                font-family: "Playfair Display", serif !important;
                font-size: 2em;
                font-style: italic;
                font-weight: 400;
                margin: 0;
              }
              .image-text {
                font-size: 14px;
                font-weight: 400;
                margin: 0;
                margin-bottom: 10px;
              }
              .read-more {
                cursor: pointer;
                transition: 0.3s;
                a {
                  color: inherit;
                  text-decoration: underline;
                }
              }
              &--horizontal-line {
                background-color: #ff214f;
                width: 18%;
                height: 1px;
                margin-top: 30px;
              }
            }
            &.left {
              .md-portomd_number_block__item-icon__wrapper {
                align-items: flex-start;
                text-align: left;
                &-icon {
                  padding-left: 0;
                }
              }
            }
            &.right {
              .md-portomd_number_block__item-icon__wrapper {
                align-items: flex-end;
                text-align: right;
              }
            }
          }
        }
      }
      &.style2 {
        .md-portomd_number_block__item-icon__wrapper {
          display: flex !important;
          flex-direction: row !important;
          flex-wrap: wrap;
          align-items: flex-start !important;
          &-icon {
            width: 20%;
            padding-top: 0 !important;
          }
          &-text {
            width: calc(80% - 20px);
          }
        }
      }
    }
    .md_number_block__button {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      p {
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        transition: 0.3s;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        a {
          color: inherit;
          text-decoration: none;
        }
      }
    }
  
    &.left {
      text-align: left;
    }
    &.right {
      text-align: right;
    }
  }
  .md_porto_image_banner__media {
    width: 40%;
    position: relative;
    img {
      width: 100%;
      height: auto;
    }
  }
}

