@use '../abstracts';

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	border: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

html {
	-webkit-font-smoothing: none;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	overflow-x: hidden;
}

body {
	margin: 0;
	overflow-x: hidden;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

a:active {
	outline: 0;
}

figure {
	margin: 0;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

input {
	&[type="search"],
	&[type="text"],
	&[type="password"] {
		padding: 8px;
		flex-grow: 1;
		min-width: 3em;
		border: 1px solid #949494;
		font-size: inherit;
		font-family: inherit;
		line-height: inherit;
	}
}

input,
button {
	&[type="submit"] {
		background: #f7f7f7;
		border: 1px solid #ccc;
		padding: 8px 0.625em;
		color: #32373c;
		margin-left: 0.625em;
		word-break: normal;
		font-size: inherit;
		font-family: inherit;
		line-height: inherit;
		cursor: pointer;
	}
}

.md_search_result_template li {
	border-bottom: 1px solid rgba(112, 112, 112, .2);
	padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
	figure.wp-block-post-featured-image {
		width: 27%;
	}
}

.md_results_info {
	border-bottom: 1px solid rgba(112, 112, 112, .2);

	.wp-block-query-pagination-numbers {
		display: flex;
		gap: 20px;
	}

	.wp-block-query-pagination .page-numbers, .wp-block-query-pagination-previous, .wp-block-query-pagination-next {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		list-style-type: none;
		font-size: 18px;
		line-height: 34px;
		gap: 10px 15px
	}
	
	.wp-block-query-pagination .page-numbers, .wp-block-query-pagination-previous, .wp-block-query-pagination-next {
		text-align: center;
		display: inline-block;
		color: #2d343b;
		font-family: "Urbanist",BlinkMacSystemFont,sans-serif;
		font-weight: 600;
		padding: 5px
	}
	
	.wp-block-query-pagination span.page-numbers {
		background-color: #003383;
		color: #fff
	}
	
	.wp-block-query-pagination span.page-numbers {
		display: flex;
		justify-content: center;
		padding: 0;
		width: 43px;
		height: 43px;
		align-items: center;
		line-height: 33px;
		border-radius: 43px
	}
	
	.wp-block-query-pagination .wp-block-query-pagination-previous {
		margin-right: 10px
	}
	
	.wp-block-query-pagination .wp-block-query-pagination-next {
		margin-left: 10px
	}
}