@use "../../scss/abstracts";

.wp-block-md-ageofunion-sample-block {
  background-color: abstracts.$green-theme-color;
  color: abstracts.$white-theme-color;
  padding: 5px 10px;
}
.md_centre_accordian_section {
  position: relative;
  .md_centre_accordian_section__inner {
    padding-bottom: 12.5rem;
    position: relative;
    .md_centre_accordian_section__header {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      .md_centre_accordian_section__heading {
        font-size: 10.83333vw;
        letter-spacing: -0.045em;
        line-height: 0.72;
        text-transform: uppercase;
        margin-bottom: 1.875rem;
        font-weight: 500;
        position: relative;
        margin: 0;
        width: 50%;
      }
      .md_centre_accordian_section__contact_info {
        width: 50%;
        display: flex;
        gap: 1.25rem;
        p {
          width: 50%;
          margin: 0;
          font-size: 2.5rem;
          line-height: 1.5;
          font-weight: 400;
          a {
            color: inherit;
            text-decoration: none;
          }
        }
      }
    }
    .md_centre_accordian_grid {
      padding-top: 1.25rem;
      .md_centre_accordian_grid__inner {
        display: flex;
        justify-content: flex-end;
        .md_centre_accordian_grid__list {
          width: 75%;
          .md_centre_accordian__list__item {
            .md_centre_accordian__list__item__heading {
              flex-direction: row-reverse;
              justify-content: flex-end;
              border-top: 2px solid #000;
              border-bottom: 0px;
              cursor: pointer;
              padding: 0.625rem 0
                clamp(
                  calc(0.0625rem * var(--spacing-medium-mobile)),
                  calc(var(--spacing-medium) / 14.4 * 1vw),
                  calc(0.0625rem * var(--spacing-medium))
                )
                0;
              display: flex;
              width: 100%;
              align-items: center;
              text-align: left;
              gap: 1.25rem;
              .md_centre_accordian__list__item__content__name {
                font-size: 3.75rem;
                margin: 0;
                text-transform: uppercase;
                font-weight: 500;
              }
              i {
                font-size: 3.75rem;
                height: 100%;
                width: auto;
              }
            }
            .md_centre_accordian__list__item__content {
              font-size: 1.875rem;
              line-height: 1;
              font-weight: 400;
              display: none;
            }
            &.active {
              .md_centre_accordian__list__item__content {
                display: block;
              }
            }
          }
        }
      }
    }
    &::after {
      bottom: -2px;
      position: absolute;
      left: 50%;
      width: 1.125rem;
      margin-left: calc(-1 * 1.125rem / 2);
      content: "";
      background-color: #bababa;
      height: 10.125rem;
    }
  }
}
