@use "../../scss/abstracts";

.wp-block-md-anitian-fse-full-sample-block {
  background-color: abstracts.$green-theme-color;
  color: abstracts.$white-theme-color;
  padding: 5px 10px;
}

.md_bg_image_upload {
  width: 100%;
  height: 100%;
  border: 1px solid gray;
  justify-content: center;
  align-items: center;
}
.md_bg_image_upload img {
  height: 110px;
  width: 100%;
}
.md_bg_image_upload i {
  width: 100%;
  height: 100%;
  font-size: 100px;
}

.md_anitian_three_column_header {
  .md_anitian_three_column_header__bg_image {
    background-size: contain;
    background-position: right 0px top;
    background-repeat: no-repeat;
    padding: 75px 0 110px;
    .md_anitian_three_column_header__heading {
      h2 {
        width: 50%;
        font-weight: 600;
        line-height: 1.3em;
        text-align: left;
        font-size: 35px;
      }
    }
  }
  .md_anitian_three_column_header__content {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    .md_anitian_three_column_header__item {
      display: flex;
      max-width: calc(33.1% - 35px);
      flex-basis: calc(33.1% - 35px);
      .md_anitian_three_column_header__item__image {
        width: 50px;
        img {
          width: 100%;
          height: auto;
        }
      }
      .md_anitian_three_column_header__item__content {
        width: calc(100% - 50px);
        padding-left: 15px;
        h5 {
          font-weight: 600;
          color: #000;
          line-height: 1.6em;
          margin: 0 0 10px;
          text-transform: none;
        }
        p {
          font-weight: 300;
          font-size: 16px;
          margin: 0;
          padding-bottom: 10px;
        }
        a {
          margin: 0;
          position: relative;
          font-weight: 300;
          font-size: 16px;
          width: -moz-max-content;
          width: max-content;
          color: #2ea3f2;
          display: inline-block;
        }
      }
      &:not(:first-child) {
        padding-left: 24px;
        border-left: 2px dotted rgba(0, 0, 0, 0.18);
      }
    }
  }
  position: relative;
  padding-bottom: 60px;
}
