<!-- wp:template-part {"slug":"header","theme":"md-storyful-fse-theme","tagName":"header"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|container","bottom":"var:preset|spacing|container"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--container);padding-bottom:var(--wp--preset--spacing--container)"><!-- wp:group {"layout":{"inherit":true,"type":"constrained"}} -->
	<div class="wp-block-group"><!-- wp:columns -->
	<div class="wp-block-columns"><!-- wp:column -->
	<div class="wp-block-column"><!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
	<div class="wp-block-group"><!-- wp:paragraph -->
	<p>Home » <a href="http://woo-site.local/blog/" data-type="page" data-id="5242">Blog</a> »</p>
	<!-- /wp:paragraph -->
	
	<!-- wp:post-title {"fontSize":"small"} /--></div>
	<!-- /wp:group -->
	
	<!-- wp:post-title {"textAlign":"left","level":1,"align":"wide","fontSize":"large"} /--></div>
	<!-- /wp:column --></div>
	<!-- /wp:columns -->
	
	<!-- wp:columns {"style":{"spacing":{"blockGap":{"top":"var:preset|spacing|50","left":"var:preset|spacing|50"}}}} -->
	<div class="wp-block-columns"><!-- wp:column {"width":"70.66%"} -->
	<div class="wp-block-column" style="flex-basis:70.66%"><!-- wp:group {"style":{"spacing":{"padding":{"top":"0","right":"0","bottom":"0","left":"0"}}},"layout":{"type":"constrained","justifyContent":"center"}} -->
	<div class="wp-block-group" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:group {"tagName":"main","layout":{"inherit":true,"type":"constrained","justifyContent":"center"}} -->
	<main class="wp-block-group"><!-- wp:group {"align":"wide","layout":{"type":"default"}} -->
	<div class="wp-block-group alignwide"><!-- wp:post-date /-->
	
	<!-- wp:post-author {"showAvatar":false,"showBio":false} /-->
	
	<!-- wp:post-content {"align":"full","layout":{"inherit":false}} /-->
	
	<!-- wp:group {"align":"full","layout":{"inherit":true,"type":"constrained"}} -->
	<div class="wp-block-group alignfull"><!-- wp:group {"align":"full","layout":{"type":"flex","justifyContent":"space-between"}} -->
	<div class="wp-block-group alignfull"><!-- wp:post-terms {"term":"category","prefix":"Posted In: ","fontSize":"small"} /--></div>
	<!-- /wp:group --></div>
	<!-- /wp:group --></div>
	<!-- /wp:group --></main>
	<!-- /wp:group --></div>
	<!-- /wp:group --></div>
	<!-- /wp:column -->
	
	<!-- wp:column {"width":"29.33%"} -->
	<div class="wp-block-column" style="flex-basis:29.33%"><!-- wp:group {"className":"md-storyful-fse-sidebar","layout":{"type":"constrained"}} -->
	<div class="wp-block-group md-storyful-fse-sidebar"><!-- wp:template-part {"slug":"post-sidebar","theme":"md-storyful-fse-theme","tagName":"post-sidebar"} /--></div>
	<!-- /wp:group --></div>
	<!-- /wp:column --></div>
	<!-- /wp:columns -->
	
	<!-- wp:columns -->
	<div class="wp-block-columns"><!-- wp:column -->
	<div class="wp-block-column"><!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
	<div class="wp-block-group"><!-- wp:post-navigation-link {"type":"previous","showTitle":true,"arrow":"arrow"} /-->
	
	<!-- wp:post-navigation-link {"showTitle":true,"linkLabel":true,"arrow":"arrow"} /--></div>
	<!-- /wp:group --></div>
	<!-- /wp:column --></div>
	<!-- /wp:columns -->
	
	<!-- wp:columns -->
	<div class="wp-block-columns"><!-- wp:column -->
	<div class="wp-block-column"><!-- wp:spacer {"height":"58px"} -->
	<div style="height:58px" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->
	
	<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"left","orientation":"vertical"}} -->
	<div class="wp-block-group"><!-- wp:heading -->
	<h2 class="wp-block-heading">Related posts</h2>
	<!-- /wp:heading -->
	
	<!-- wp:separator {"className":"is-style-default","style":{"layout":{"selfStretch":"fit","flexSize":null},"spacing":{"margin":{"top":"0","bottom":"0"}}},"backgroundColor":"base-2"} -->
	<hr class="wp-block-separator has-text-color has-base-2-color has-alpha-channel-opacity has-base-2-background-color has-background is-style-default" style="margin-top:0;margin-bottom:0"/>
	<!-- /wp:separator -->
	
	<!-- wp:columns {"style":{"layout":{"selfStretch":"fit","flexSize":null},"spacing":{"margin":{"top":"0","bottom":"0"},"blockGap":{"top":"0","left":"0"},"padding":{"right":"0","left":"0"}}}} -->
	<div class="wp-block-columns" style="margin-top:0;margin-bottom:0;padding-right:0;padding-left:0"><!-- wp:column {"style":{"spacing":{"padding":{"right":"0","left":"0"}}}} -->
	<div class="wp-block-column" style="padding-right:0;padding-left:0"><!-- wp:query {"queryId":10,"query":{"perPage":"3","pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"exclude","inherit":false},"metadata":{"categories":["posts"],"patternName":"core/query-grid-posts","name":"Grid"}} -->
	<div class="wp-block-query"><!-- wp:post-template {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"grid","columnCount":3}} -->
	<!-- wp:group {"style":{"spacing":{"padding":{"top":"30px","right":"30px","bottom":"30px","left":"30px"}}},"layout":{"inherit":false}} -->
	<div class="wp-block-group" style="padding-top:30px;padding-right:30px;padding-bottom:30px;padding-left:30px"><!-- wp:post-featured-image /-->
	
	<!-- wp:post-date /-->
	
	<!-- wp:post-title {"isLink":true} /-->
	
	<!-- wp:read-more {"content":"\u003cstrong\u003eRead Full Post \u003e\u003c/strong\u003e","style":{"elements":{"link":{"color":{"text":"var:preset|color|base-3"}}}},"textColor":"base-3"} /--></div>
	<!-- /wp:group -->
	<!-- /wp:post-template --></div>
	<!-- /wp:query --></div>
	<!-- /wp:column --></div>
	<!-- /wp:columns --></div>
	<!-- /wp:group --></div>
	<!-- /wp:column --></div>
	<!-- /wp:columns --></div>
	<!-- /wp:group --></div>
	<!-- /wp:group -->
	
	<!-- wp:template-part {"slug":"footer","theme":"md-storyful-fse-theme","tagName":"footer"} /-->