@use "../../scss/abstracts";

.wp-block-md-crafto-beauty-sample-block {
  background-color: abstracts.$green-theme-color;
  color: abstracts.$white-theme-color;
  padding: 5px 10px;
}
.md_banner_text {
  .md_banner_text__heading_wrapper {
    .md_banner_text__sub_heading {
      font-size: 17px;
      line-height: 1.7rem;
      font-weight: 400;
      text-transform: uppercase;
      margin: 0;
      display: inline-block;
      color: black;
      background-image: linear-gradient(
        to right,
        #2e3844,
        #455161,
        #db7f68,
        #e17a60,
        #e47256
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .md_banner_text__heading {
      font-weight: 400;
      line-height: 1.2em;
      margin: 0;
      color: #000;
      font-size: 2.813rem;
    }
    .md_banner_text__description {
      font-size: 17px;
      color: #7e8691;
      margin-bottom: 1em;
      font-weight: 400;
    }
    .md_crafto_beauty_icon_block__btn_wrapper {
      display: inline-block;
    }
  }
}
