@use "../../scss/abstracts";

.wp-block-md-pofo-sample-block {
  background-color: abstracts.$green-theme-color;
  color: abstracts.$white-theme-color;
  padding: 5px 10px;
}

.md_card_block {
  padding: 20px 0;
  z-index: 9;
  position: relative;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  .md_card_block__heading {
    h4 {
      font-size: 16px;
      font-weight: 500;
      margin: 0;
    }
    h2 {
      font-size: 32px;
      font-weight: 600;
      margin: 0;
    }
    p {
      font-size: 14px;
      font-weight: 400;
      margin: 0;
    }
  }
  .md_card_block__slider_wrap {
    .md_card_block__slider {
      display: flex;
      flex-wrap: wrap;
      .logo-slide {
        .md-pofomd_card_block__item-card {
          border: 1px solid lightgray;
          border-radius: 10px;
          margin: 10px;
          .md-pofomd_card_block__item-card__wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            flex-direction: column;
            gap: 20px;

            h4 {
              font-size: 14px;
              font-weight: 600;
              margin: 0;
              margin-bottom: 10px;
            }
            .image-text {
              font-size: 14px;
              font-weight: 400;
              margin: 0;
              margin-bottom: 10px;
            }
            .read-more {
              cursor: pointer;
              transition: 0.3s;
              margin: 0;
              a {
                color: inherit;
                text-decoration: underline;
              }
            }
          }
          .feature-box-15 .feature-box-content {
            position: relative;
          }

          .feature-box-15 .feature-box-image {
            transform: rotateY(0deg);
            img {
              width: 100%;
              height: auto;
            }
          }

          .feature-box-15 .hover-content,
          .feature-box-15 .feature-box-image {
            backface-visibility: hidden;
            transform-style: preserve-3d;
            transform: rotateY(0deg);
            transition: ease-in-out 0.4s;
          }

          .feature-box-15 .hover-content {
            left: 0;
            position: absolute;
            top: 0;
            height: 100%;
            transform: rotateX(180deg);
            width: 100%;
            opacity: 0;
            padding-left: 12%;
            padding-right: 12%;
            display: flex;
            align-items: center;
            p {
              font-size: 14px;
              text-align: center;
              font-family: "Montserrat", sans-serif;
            }
          }

          .feature-box-15 .feature-box-content:hover .feature-box-image {
            transform: rotateX(180deg);
            opacity: 0;
          }

          .feature-box-15 .feature-box-content:hover .hover-content {
            transform: rotateX(0deg);
            opacity: 1;
          }

          &.left {
            .md-pofomd_card_block__item-card__wrapper {
              align-items: flex-start;
              text-align: left;
              &-card {
                padding-left: 0;
              }
            }
          }
          &.right {
            .md-pofomd_card_block__item-card__wrapper {
              align-items: flex-end;
              text-align: right;
            }
          }
        }
      }
    }
    &.style2 {
      .md-pofomd_card_block__item-card__wrapper {
        display: flex !important;
        flex-direction: row !important;
        flex-wrap: wrap;
        align-items: flex-start !important;
        &-card {
          width: 20%;
          padding-top: 0 !important;
        }
        &-text {
          width: calc(80% - 20px);
        }
      }
    }
  }
  .md_card_block__button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    p {
      padding: 10px 20px;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      transition: 0.3s;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      a {
        color: inherit;
        text-decoration: none;
      }
    }
  }

  &.left {
    text-align: left;
  }
  &.right {
    text-align: right;
  }
}
