<!-- wp:template-part {"slug":"header","theme":"md-anitian-fse-full","tagName":"header"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|container","bottom":"var:preset|spacing|container"},"blockGap":"0"}},"layout":{"type":"default"}} -->
<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--container);padding-bottom:var(--wp--preset--spacing--container)"><!-- wp:group {"style":{"color":{"gradient":"linear-gradient(0deg,rgb(0,56,102) 0%,rgb(3,93,172) 100%)"},"spacing":{"padding":{"top":"var:preset|spacing|container","bottom":"var:preset|spacing|container"}}},"layout":{"type":"constrained"}} -->
	<div class="wp-block-group has-background" style="background:linear-gradient(0deg,rgb(0,56,102) 0%,rgb(3,93,172) 100%);padding-top:var(--wp--preset--spacing--container);padding-bottom:var(--wp--preset--spacing--container)"><!-- wp:group {"style":{"elements":{"link":{"color":{"text":"var:preset|color|base"}}}},"textColor":"base","layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
	<div class="wp-block-group has-base-color has-text-color has-link-color"><!-- wp:heading {"level":1,"style":{"typography":{"fontSize":"40px"}},"fontFamily":"poppins"} -->
	<h1 class="wp-block-heading has-poppins-font-family" style="font-size:40px">Leadership Team</h1>
	<!-- /wp:heading -->
	
	<!-- wp:paragraph {"align":"center","style":{"typography":{"fontSize":"20px"}},"fontFamily":"poppins"} -->
	<p class="has-text-align-center has-poppins-font-family" style="font-size:20px">Delivering one of the first cloud security and compliance automation platforms of its kind not only takes ground-breaking technology, it takes proven leadership and security DNA. Anitian’s executive team is driving our vision, growth, and innovation to help our customers seize new markets and revenue faster.<br></p>
	<!-- /wp:paragraph -->
	
	<!-- wp:buttons -->
	<div class="wp-block-buttons"><!-- wp:button {"backgroundColor":"luminous-vivid-orange","style":{"border":{"radius":"100px"},"spacing":{"padding":{"top":"8px","bottom":"8px"}}}} -->
	<div class="wp-block-button"><a class="wp-block-button__link has-luminous-vivid-orange-background-color has-background wp-element-button" style="border-radius:100px;padding-top:8px;padding-bottom:8px"><strong>MEET THE TEAM</strong></a></div>
	<!-- /wp:button --></div>
	<!-- /wp:buttons --></div>
	<!-- /wp:group --></div>
	<!-- /wp:group -->
	
	<!-- wp:md-anitian-fse-full/md-leaderships {"heading":"Meet the Anitian Leadership Team"} /-->
	
	<!-- wp:group {"style":{"color":{"background":"#f4f4f4"},"spacing":{"padding":{"top":"var:preset|spacing|x-large","bottom":"var:preset|spacing|x-large"}}},"layout":{"type":"constrained"}} -->
	<div class="wp-block-group has-background" style="background-color:#f4f4f4;padding-top:var(--wp--preset--spacing--x-large);padding-bottom:var(--wp--preset--spacing--x-large)"><!-- wp:columns {"verticalAlignment":"center"} -->
	<div class="wp-block-columns are-vertically-aligned-center"><!-- wp:column {"verticalAlignment":"center","style":{"spacing":{"blockGap":"var:preset|spacing|small"}}} -->
	<div class="wp-block-column is-vertically-aligned-center"><!-- wp:heading {"textAlign":"left","style":{"typography":{"fontSize":"40px"},"elements":{"link":{"color":{"text":"#0c71c3"}}},"color":{"text":"#0c71c3"}}} -->
	<h2 class="wp-block-heading has-text-align-left has-text-color has-link-color" style="color:#0c71c3;font-size:40px">Let’s get started</h2>
	<!-- /wp:heading -->
	
	<!-- wp:paragraph {"align":"left","style":{"typography":{"fontSize":"16px"},"color":{"text":"#0c71c3"},"elements":{"link":{"color":{"text":"#0c71c3"}}}}} -->
	<p class="has-text-align-left has-text-color has-link-color" style="color:#0c71c3;font-size:16px">Ready to slash your time-to-compliance, cost, and risk by 50-80%?</p>
	<!-- /wp:paragraph --></div>
	<!-- /wp:column -->
	
	<!-- wp:column {"verticalAlignment":"center"} -->
	<div class="wp-block-column is-vertically-aligned-center"><!-- wp:buttons {"style":{"typography":{"fontStyle":"normal","fontWeight":"600","textTransform":"uppercase"}},"layout":{"type":"flex","justifyContent":"left"}} -->
	<div class="wp-block-buttons" style="font-style:normal;font-weight:600;text-transform:uppercase"><!-- wp:button {"style":{"border":{"radius":"100px"},"color":{"background":"#f75227"},"spacing":{"padding":{"top":"8px","bottom":"8px"}}}} -->
	<div class="wp-block-button"><a class="wp-block-button__link has-background wp-element-button" href="#" style="border-radius:100px;background-color:#f75227;padding-top:8px;padding-bottom:8px"><strong>G</strong>et Started</a></div>
	<!-- /wp:button -->
	
	<!-- wp:button {"textColor":"base","style":{"border":{"radius":"100px"},"elements":{"link":{"color":{"text":"var:preset|color|base"}}},"color":{"background":"#f75227"},"spacing":{"padding":{"top":"8px","bottom":"8px"}}}} -->
	<div class="wp-block-button"><a class="wp-block-button__link has-base-color has-text-color has-background has-link-color wp-element-button" href="#" style="border-radius:100px;background-color:#f75227;padding-top:8px;padding-bottom:8px"><strong>C</strong>ontact Sales</a></div>
	<!-- /wp:button --></div>
	<!-- /wp:buttons --></div>
	<!-- /wp:column --></div>
	<!-- /wp:columns --></div>
	<!-- /wp:group --></div>
	<!-- /wp:group -->
	
	<!-- wp:template-part {"slug":"footer","theme":"md-anitian-fse-full","tagName":"footer"} /-->