@use '../../scss/abstracts';

.wp-block-md-fiery-md-brands {
    color: abstracts.$primary-theme-color;

    .brands {
        padding: 40px 0 80px;
        margin: 30px 0 0;
        display: flex;
        flex-wrap: wrap;
        .brand {
            width: calc(25% - 25px);
            position: relative;
            border-color: rgba(112,112,112,.2);
            border-width: 0 1px 1px 0;
            border-style: solid;
            .brand-inner {
                padding: 20px;
                min-height: 100px;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
            }
            img {
                max-width: 100%;
                height: auto;
            }
            &:nth-child(4n) {
                border-right-width: 0;
            }
        }
    }
}
