@use "../../scss/abstracts";

.wp-block-md-woodward-sample-block {
  background-color: abstracts.$green-theme-color;
  color: abstracts.$white-theme-color;
  padding: 5px 10px;
}

.md_icon_text {
  padding: 20px 40px;
  display: flex;
  gap: 60px;
  flex-direction: column;
  .md_icon_text__heading_wrapper {
    text-align: center;
    .md_icon_text__sub_heading {
      font-size: 16px;
    }
    .md_icon_text__heading {
      margin: 0;
    }
  }
  .md_icon_text__slider {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    .logo-slide {
      width: calc(33.333% - 27px);
      .md_icon_text__item-image {
        gap: 30px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border-right: 1px solid #f5f5f5;
        padding-right: 40px;
        width: 100%;
        height: auto;
        img {
          width: 55px;
          height: auto;
        }
      }
      .image-text {
        font-size: 18px;
      }
    }
  }
}
