.elementor-widget-fiery_hero_banner {
    overflow: hidden;
    .hero-banner__inner { position: relative; }
    .hero-banner__background {
        z-index: -1;
        position: absolute;
    }
    .hero-banner__boxed {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 110px;
        padding: 50px 0;
        .hero-banner__content { 
            width: 55%; 
            .content { margin: 30px 0; padding-right: 30px; }
            .button__wrapper { margin-top: 50px; display: block; }
        }
        .hero-banner__image { width: 45%; text-align: center; }
    }
}


/* Slick Slider Arrows */
ul.slick-dots {
    flex-wrap: wrap
}

.slick-arrow {
    width: 40px !important;
    height: 40px !important;
    font-size: 0 !important;
    background: rgba(0,0,0,0) !important;
    cursor: pointer !important;
    top: 40%;
    transform: translateY(-50%);
    border: none !important;
    position: absolute;
    display: block
}

.slick-arrow:before {
    width: 16px;
    height: 16px;
    content: "";
    display: block;
    position: absolute;
    top: 11px
}

.slick-prev {
    // left: -50px;
    z-index: 1
}

.slick-prev:before {
    border-top: 3px solid #666;
    border-left: 3px solid #666;
    transform: rotate(-45deg)
}

.slick-prev[aria-disabled=true] {
    opacity: .4;
    pointer-events: none
}

.slick-next {
    right: 20px;
}

.slick-next:before {
    border-top: 3px solid #666;
    border-left: 3px solid #666;
    transform: rotate(135deg)
}

.slick-next[aria-disabled=true] {
    opacity: .4;
    pointer-events: none
}

/* Slick Slider Dots */
.slick-dots {
    text-align: center; /* Center align dots */
    margin-top: 20px; /* Space above dots */
}

.slick-dots li {
    display: inline-block;
    margin: 0 5px; /* Space between dots */
}

.slick-dots li button {
    font-size: 0; /* Hide default button text */
    background-color: #ccc; /* Dot color */
    width: 12px; /* Dot width */
    height: 12px; /* Dot height */
    border-radius: 50%; /* Rounded dots */
    padding: 5px;
}

.slick-dots li.slick-active button {
    background-color: #333; /* Active dot color */
}

.slick-dots li button:hover {
    background-color: #555; /* Dot color on hover */
}

.elementor-widget-fiery_hero_slider {
    .fiery-hero-slider__slide {
        display: grid !important;
        .fiery-hero-slider__subtitle {
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    .slick-next {
        background: url(../images/ic-right-arrow.svg) !important;
        right: 100px;
        transform: translate(60%, 0);
        background-position: center center !important;
        background-repeat: no-repeat !important;
        background-size: contain !important;
    }

    .slick-next:before {
        border-top: none;
        border-left: none;
        transform: none
    }

    .slick-prev {
        background: url(../images/ic-left-arrow.svg) !important;
        left: 100px;
        transform: translate(-60%, 0);
        background-position: center center !important;
        background-repeat: no-repeat !important;
        background-size: contain !important;
    }

    .slick-prev:before {
        border-top: none;
        border-left: none;
        transform: none
    }

    .slick-dots {
        position: absolute;
        display: block;
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: center;
        right: 135px;
        bottom: 80px;
        width: auto;

        li button {
            background-color: #ccc0;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            padding: 3px;
            border: 2px solid #fff;
        }

        li.slick-active button {
            background-color: #3330;
            border-color: #d20202;
        }
    }
}

.elementor-widget-fiery_hero_card_banner {
    .hero-card-banner {
        z-index: 1;
        position: relative;
        .hero-card-banner__inner {
            padding: 50px 0;  
        }
        .card {
            margin-top: 50px;
            display: flex;
            justify-content: center;
            gap: 20px;
            flex-wrap: wrap;

            .card__item__wrapper {

                position: relative;
                padding: 25px 40px;
                box-shadow: 0 20px 50px rgba(111, 137, 163, .3019607843);
                border-radius: 10px;
                display: flex;
                align-items: center;

                .card__item__wrapper__background {
                    img {
                        position: absolute;
                        right: 0;
                        bottom: 0;
                        width: 100%;
                        height: 100%;
                        -o-object-position: bottom right;
                        object-position: bottom right;
                        -o-object-fit: contain;
                        object-fit: contain;
                        mix-blend-mode: multiply;
                        opacity: .5;
                        z-index: 1;
                    }
                }

                .card__item__background_color {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 0.9;
                    z-index: -1;
                    border-radius: inherit;
                }

                .card__item__inner {
                    display: flex;
                    text-align: left;
                    z-index: 2;
                    position: relative;
                    gap: 10px;
                    width: 100%;
                    align-items: center;

                    .card_item__inner_content { flex: 0 1 70%; }
                    .card_item__inner_content:only-child { flex: 0 1 100%; }
                    .card_item__inner_icon { flex: 0 1 30%; }

                }
            }

        }
    }
}

.elementor-widget-fiery_case_studies_slider {
    padding: 50px 0;
    .fiery-case-studies-slider-heading { text-align: center; }
    .fiery-case-studies-slider-wrapper {
        margin-top: 50px;
        .fiery-case-studies-slider-item {
            margin: 0 15px 20px;
            box-shadow: 0 10px 15px rgba(111, 137, 163, .2);
            .fiery-case-studies-slider-item-subtitle { margin-bottom: 5px; }
            .fiery-case-studies-slider-item-image {
                height: 200px;
                img { 
                    width: 100%; 
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                    border-radius: 20px 20px 0 0;
                }
            }
            .fiery-case-studies-slider-item-content {
                padding: 40px;
                display: flex;
                flex-direction: column;
                position: relative;
                background-color: #fff;
                .fiery-case-studies-slider-item-content-background {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                    top: 10px;
                    right: -10px;
                    padding-bottom: 10px;
                }
            }
        }

        .slick-next:before {
            border-top: none;
            border-left: none;
            transform: none
        }

        .slick-prev:before {
            border-top: none;
            border-left: none;
            transform: none
        }

        .slick-next {
            background: url(../images/right-arrow-black.svg) !important;
            right: -30px;
            transform: translate(60%, 0);
            background-position: center center !important;
            background-repeat: no-repeat !important;
            background-size: contain !important;
        }

        .slick-prev {
            background: url(../images/left-arrow-black.svg) !important;
            left: -30px;
            transform: translate(-60%, 0);
            background-position: center center !important;
            background-repeat: no-repeat !important;
            background-size: contain !important;
        }
    }
}

.elementor-widget-fiery_hero_partner {
    .hero-partner__container {
        max-width: 1200px;
        margin: 0 auto;
    }
    .hero-partner__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        padding: 50px 0;

        .hero-partner__left {
            width: calc(42% - 5px);
            .hero-partner-content {
                margin: 30px 0;
            }
            .button__wrapper { margin-top: 50px; display: block; }
            .hero-partner-buttons {
                margin-top: 50px;
                display: flex;
                gap: 20px;
            }
        }

        .hero-partner__right {
            width: calc(58% - 5px);
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;

            .hero-partner-logos {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                gap: 15px;

                .hero-partner-logo {
                    background: #fff;
                    box-shadow: 0 10px 50px rgba(111, 137, 163, .3019607843);
                    border-radius: 10px;

                    .hero-partner-logo__image {
                        display: flex;
                        padding: 15px 20px;
                        position: relative;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 100%;

                        img {
                            display: block;
                            width: 100px;
                            margin: 0 auto;
                            height: 28px;
                            -o-object-fit: contain;
                            object-fit: contain;
                            -o-object-position: center;
                            object-position: center;
                        }
                    }
                }

                .hero-partner-logo:nth-child(8n+4) {
                    margin-right: 50px;
                }

                .hero-partner-logo:nth-child(8n+5) {
                    margin-left: 50px;
                }
            }
        }
    }
}

.elementor-widget-fiery_hero_subscribe {
    position: relative;
    .fiery-hero-subscribe {
        position: relative;
        padding: 80px 0 70px 0;

        .fiery-hero-subscribe-content {
            margin: 20px 0 40px 0;
            z-index: 2;
        }

        &::before {
            width: 223px;
            height: 144px;
            z-index: 1;
            content: "";
            position: absolute;
            left: 50px;
            top: 0;
            background: transparent url(../images/ele-subscription-top.svg) center center no-repeat;
            background-size: contain;
        }

        &::after {
            width: 172px;
            height: 206px;
            z-index: 1;
            content: "";
            position: absolute;
            right: 50px;
            bottom: 0px;
            background: transparent url(../images/subscription-bottom-elem.svg) center center no-repeat;
            background-size: contain;
        }
    }
}

.elementor-widget-fiery_hero_qna {
    position: relative;
    overflow: hidden;
    .fiery-hero-qna {
        padding: 50px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;

        .fiery-hero-qna-content { width: 80%; }
        .fiery-hero-qna-button-group { width: 20%; }
    }
    &::before {
        width: 184px;
        height: 90px;
        z-index: 1;
        content: "";
        position: absolute;
        left: -60px;
        top: 40px;
        background: transparent url(../images/cta-top-left.svg) center center no-repeat;
        background-size: contain;
        opacity: 0.4;
    }

    &::after {
        width: 887px;
        height: 272px;
        z-index: 1;
        content: "";
        position: absolute;
        right: -510px;
        bottom: -85px;
        background: transparent url(../images/cta-bottom-right.svg) center center no-repeat;
        background-size: contain;
        opacity: 0.4;
    }
}