@use '../../scss/abstracts';

.wp-block-md-storyful-fse-full-sample-block {
    background-color: abstracts.$green-theme-color;
    color: abstracts.$white-theme-color;
    padding: 5px 10px;
}

.storyful-stat-number {
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 70px;
    position: relative;
    background-size: cover;
    .container {
        display: flex;
        flex-direction: column;
        gap: 60px;
        position: relative;
        z-index: 1;
        .stats-block-top {
            display: flex;
            align-items: flex-start;
            gap: 100px;
            justify-content: space-between;
            .stats-block-top__left {
                flex-basis: 55%;
                .state-block__heading {
                    color: #fffdfa;
                    font-family: PlayfairDisplay-Medium;
                    font-size: 52px;
                    line-height: 68px;
                }
            }
            .stats-block-top__right {
                flex-basis: 45%;
                p {
                    color: #fffdfa;
                    font-family: arial, helvetica, sans-serif;
                    line-height: 28px;
                    margin-bottom: 40px;
                    font-size: 20px;
                }
            }
        }
        .stats-block-bottom {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 40px;
            border: 1px solid #fffdfa;
            padding: 58px 0;
            .stats-block-bottom__item {
                text-align: center;
                display: flex;
                flex-direction: column;
                gap: 14px;
                padding: 0 20px;
                h3 {
                    font-size: 71px;
                    line-height: 75px;
                    font-weight: 700;
                    font-family: arial, helvetica, sans-serif;
                    margin: 0;
                    color: #4EC5DF;
                }
                p {
                    font-size: 20px;
                    line-height: 28px;
                    font-weight: 400;
                    font-family: arial, helvetica, sans-serif;
                    color: #ffffff;
                }
            }
        }
    }
    .overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
}