<!-- wp:template-part {"slug":"header","theme":"md-foursquare-theme","tagName":"header"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|container","bottom":"var:preset|spacing|container"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--container);padding-bottom:var(--wp--preset--spacing--container)"><!-- wp:paragraph {"style":{"color":{"text":"#3333ff"},"elements":{"link":{"color":{"text":"#3333ff"}}},"typography":{"fontSize":"15px","textTransform":"uppercase"}},"fontFamily":"authenticsans-90"} -->
	<p class="has-text-color has-link-color has-authenticsans-90-font-family" style="color:#3333ff;font-size:15px;text-transform:uppercase"><strong><a href="https://location.foursquare.com/resources/">Resources</a> / <mark style="background-color:rgba(0, 0, 0, 0)" class="has-inline-color has-contrast-color">Videos &amp; DEMOS</mark></strong></p>
	<!-- /wp:paragraph -->
	
	<!-- wp:group {"style":{"spacing":{"padding":{"right":"var:preset|spacing|50","left":"var:preset|spacing|50","top":"var:preset|spacing|30","bottom":"var:preset|spacing|30"}}},"layout":{"inherit":true,"type":"constrained"}} -->
	<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--30);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--50)"><!-- wp:query {"queryId":24,"query":{"perPage":"1","pages":0,"offset":0,"postType":"videos-and-demos","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"parents":[]},"metadata":{"categories":["posts"],"patternName":"core/query-medium-posts","name":"Image at left"}} -->
	<div class="wp-block-query"><!-- wp:post-template -->
	<!-- wp:columns {"align":"wide"} -->
	<div class="wp-block-columns alignwide"><!-- wp:column {"width":"50%"} -->
	<div class="wp-block-column" style="flex-basis:50%"><!-- wp:heading {"style":{"typography":{"fontSize":"55px"}},"fontFamily":"authenticsans-150"} -->
	<h2 class="wp-block-heading has-authenticsans-150-font-family" style="font-size:55px">Videos &amp; demos</h2>
	<!-- /wp:heading -->
	
	<!-- wp:paragraph {"style":{"typography":{"fontSize":"15px"}},"fontFamily":"authenticsans-90"} -->
	<p class="has-authenticsans-90-font-family" style="font-size:15px">Check out our training resources to learn more about working with Foursquare’s technology and data.</p>
	<!-- /wp:paragraph --></div>
	<!-- /wp:column -->
	
	<!-- wp:column {"width":"50%"} -->
	<div class="wp-block-column" style="flex-basis:50%"><!-- wp:post-featured-image {"isLink":true} /--></div>
	<!-- /wp:column --></div>
	<!-- /wp:columns -->
	<!-- /wp:post-template --></div>
	<!-- /wp:query -->
	
	<!-- wp:md-foursquare/md-posts {"postType":"videos-and-demos","postsToShow":"10"} /--></div>
	<!-- /wp:group --></div>
	<!-- /wp:group -->
	
	<!-- wp:template-part {"slug":"footer","theme":"md-foursquare-theme","tagName":"footer"} /-->