<!-- wp:template-part {"slug":"header","theme":"md-foursquare-theme","tagName":"header"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|container","bottom":"var:preset|spacing|container"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--container);padding-bottom:var(--wp--preset--spacing--container)"><!-- wp:paragraph {"style":{"color":{"text":"#3333ff"},"elements":{"link":{"color":{"text":"#3333ff"}}},"typography":{"fontSize":"15px","textTransform":"uppercase"}},"fontFamily":"authenticsans-90"} -->
	<p class="has-text-color has-link-color has-authenticsans-90-font-family" style="color:#3333ff;font-size:15px;text-transform:uppercase"><strong><a href="https://location.foursquare.com/resources/">Resources</a> / <mark style="background-color:rgba(0, 0, 0, 0)" class="has-inline-color has-contrast-color">Podcasts</mark></strong></p>
	<!-- /wp:paragraph -->
	
	<!-- wp:group {"style":{"spacing":{"padding":{"right":"var:preset|spacing|50","left":"var:preset|spacing|50","top":"var:preset|spacing|30","bottom":"var:preset|spacing|30"}}},"layout":{"inherit":true,"type":"constrained"}} -->
	<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--30);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--50)"><!-- wp:group {"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|70"}}},"layout":{"type":"constrained"}} -->
	<div class="wp-block-group" style="margin-bottom:var(--wp--preset--spacing--70)"><!-- wp:heading {"textAlign":"left","style":{"typography":{"fontSize":"55px"}},"fontFamily":"authenticsans-150"} -->
	<h2 class="wp-block-heading has-text-align-left has-authenticsans-150-font-family" style="font-size:55px">Foursquare Podcasts</h2>
	<!-- /wp:heading -->
	
	<!-- wp:paragraph {"align":"left","style":{"typography":{"fontSize":"15px"}},"fontFamily":"authenticsans-90"} -->
	<p class="has-text-align-left has-authenticsans-90-font-family" style="font-size:15px">Hosted by industry experts and thought leaders, we’ve developed podcasts that shed light on the power of location-based technologies, geospatial analysis, and the future of location intelligence. Whether you’re a business owner, urban planner, or simply curious about the impact of location data, Our podcasts provide a fresh take on the intersection of technology, data, and the physical world.&nbsp;<a href="https://foursquare.com/" target="_blank" rel="noreferrer noopener">Foursquare</a>&nbsp;does this every day with the help of something they call a movement engine.</p>
	<!-- /wp:paragraph --></div>
	<!-- /wp:group -->
	
	<!-- wp:md-foursquare/md-posts {"postType":"podcasts","postsToShow":"6"} /--></div>
	<!-- /wp:group --></div>
	<!-- /wp:group -->
	
	<!-- wp:template-part {"slug":"footer","theme":"md-foursquare-theme","tagName":"footer"} /-->