<!-- wp:template-part {"slug":"header","theme":"md-foursquare-theme","tagName":"header"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|container","bottom":"var:preset|spacing|container"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--container);padding-bottom:var(--wp--preset--spacing--container)"><!-- wp:md-foursquare/md-breadcrumb /-->

	<!-- wp:group {"style":{"spacing":{"padding":{"right":"var:preset|spacing|50","left":"var:preset|spacing|50","top":"var:preset|spacing|30","bottom":"var:preset|spacing|30"}}},"layout":{"inherit":true,"type":"constrained"}} -->
	<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--30);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--50)"><!-- wp:group {"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|70"}}},"layout":{"type":"constrained"}} -->
	<div class="wp-block-group" style="margin-bottom:var(--wp--preset--spacing--70)"><!-- wp:heading {"textAlign":"center","style":{"typography":{"fontSize":"55px"}},"fontFamily":"authenticsans-150"} -->
	<h2 class="wp-block-heading has-text-align-center has-authenticsans-150-font-family" style="font-size:55px">Reports &amp; insights</h2>
	<!-- /wp:heading -->
	
	<!-- wp:paragraph {"align":"center","style":{"typography":{"fontSize":"15px"}},"fontFamily":"authenticsans-90"} -->
	<p class="has-text-align-center has-authenticsans-90-font-family" style="font-size:15px">Stay ahead of what’s next in location technology with our insights and reports.</p>
	<!-- /wp:paragraph --></div>
	<!-- /wp:group -->
	
	<!-- wp:md-foursquare/md-posts {"postType":"reports-and-insights","postsToShow":"6"} /--></div>
	<!-- /wp:group --></div>
	<!-- /wp:group -->
	
	<!-- wp:template-part {"slug":"footer","theme":"md-foursquare-theme","tagName":"footer"} /-->