<!-- wp:template-part {"slug":"header","theme":"md-foursquare-theme","tagName":"header"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|container","bottom":"var:preset|spacing|container"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--container);padding-bottom:var(--wp--preset--spacing--container)"><!-- wp:paragraph {"style":{"elements":{"link":{"color":{"text":"var:preset|color|contrast"}}},"typography":{"fontSize":"15px","textTransform":"uppercase"}},"textColor":"contrast","fontFamily":"authenticsans-90"} -->
    <p class="has-contrast-color has-text-color has-link-color has-authenticsans-90-font-family" style="font-size:15px;text-transform:uppercase"><strong><a href="https://location.foursquare.com/resources/">Resources</a> </strong></p>
    <!-- /wp:paragraph -->
    
    <!-- wp:group {"align":"full","layout":{"type":"constrained"}} -->
    <div class="wp-block-group alignfull"><!-- wp:heading {"textAlign":"center","style":{"typography":{"fontSize":"55px"}},"fontFamily":"authenticsans-150"} -->
    <h2 class="wp-block-heading has-text-align-center has-authenticsans-150-font-family" style="font-size:55px">Foursquare Resource Center</h2>
    <!-- /wp:heading -->
    
    <!-- wp:paragraph {"align":"center","style":{"typography":{"fontSize":"15px"}},"fontFamily":"authenticsans-90"} -->
    <p class="has-text-align-center has-authenticsans-90-font-family" style="font-size:15px">Stay ahead of what’s next in location technology with our insights and reports.</p>
    <!-- /wp:paragraph --></div>
    <!-- /wp:group --></div>
    <!-- /wp:group -->
    
    <!-- wp:template-part {"slug":"footer","theme":"md-foursquare-theme","tagName":"footer"} /-->