.container{
    max-width: 1425px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 90px;
    padding-right: 90px;
}
.container-fluid{
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
