@use "../../scss/abstracts";

.wp-block-md-crafto-beauty-sample-block {
  background-color: abstracts.$green-theme-color;
  color: abstracts.$white-theme-color;
  padding: 5px 10px;
}
.md_brands_section {
  font-family: "Poppins", sans-serif;
  padding: 50px 0;
  .md_brands_section_inner {
    .md_brands_heading {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      margin-bottom: 50px;
      p {
        font-size: 17px;
        line-height: 1.7rem;
        font-weight: 400;
        text-transform: uppercase;
        margin: 0;
        display: inline-block;
        color: black;
        background-image: linear-gradient(to right, #2e3844, #455161, #db7f68, #e17a60, #e47256);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        border-right: 2px solid #000;
        padding-right: 15px;
      }
      h2 {
        font-weight: 400;
        line-height: 1.2em;
        margin: 0;
        color: #000;
        font-size: 2.813rem;
      }
    }
    .md_brands_items {
      .md_brands_item__inner {
        display: grid;
        .md_brands_item {
          padding: 40px 15px;
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            width: 100%;
            height: auto;
          }
          border-bottom: 1px solid #e5e5e5;
          border-right: 1px solid #e5e5e5;
          &:nth-child(4n) {
            border-right: none;
          }
          &:nth-last-child(-n + 4) {
            border-bottom: none;
          }
        }
      }
    }
  }
}
