@font-face {
    font-family: 'OpenSansRegular';
    src: url('../fonts/OpenSansRegular.eot');
    src: url('../fonts/OpenSansRegular.eot') format('embedded-opentype'),
         url('../fonts/OpenSansRegular.woff2') format('woff2'),
         url('../fonts/OpenSansRegular.woff') format('woff'),
         url('../fonts/OpenSansRegular.ttf') format('truetype'),
         url('../fonts/OpenSansRegular.svg#OpenSansRegular') format('svg');
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-v12-latin-regular.eot');
    src: url('../fonts/montserrat-v12-latin-regular.eot') format('embedded-opentype'),
         url('../fonts/montserrat-v12-latin-regular.woff2') format('woff2'),
         url('../fonts/montserrat-v12-latin-regular.woff') format('woff'),
         url('../fonts/montserrat-v12-latin-regular.ttf') format('truetype'),
         url('../fonts/montserrat-v12-latin-regular.svg#OpenSansRegular') format('svg');
}