@use "../../scss/abstracts";

.wp-block-md-pofo-sample-block {
  background-color: abstracts.$green-theme-color;
  color: abstracts.$white-theme-color;
  padding: 5px 10px;
}
.md_pofo_video_header_section {
  .md_pofo_image_banner_v2 {
    .md_pofo_image_banner_v2__inner {
      display: flex;
      flex-wrap: wrap;
      .md_pofo_image_banner_v2__heading {
        width: 50%;
        padding: 54px;
        h4 {
          margin: 0;
          font-size: 14px;
          font-weight: 500;
          line-height: 24px;
          margin-bottom: 10px;
        }
        h2 {
          font-size: 32px;
          line-height: 1.2;
          font-weight: 500;
          width: 100%;
          padding: 3px 0 0 0;
        }
        p {
          font-size: 14px;
          max-width: 483px;
          width: 100%;
          line-height: 1.6;
          margin: 0 0 1.5rem 0;
          letter-spacing: .5px;
        }
        .md_pofo_image_banner_v2__list {
          ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
              position: relative;
              padding: 0 0 10px 22px;
              margin: 0 0 10px 0;
              border-bottom: 1px solid rgba(0, 0, 0, 0.1);
              &::before {
                content: "\f00c";
                position: absolute;
                top: 1px;
                left: 0;
                font-family: "FontAwesome";
                font-weight: 900;
              }
            }
          }
        }
        .md_pofo_image_banner_v2__btn_wrapper {
          width: 100%;
          .md_pofo_image_banner_v2__btn {
            display: inline-block;
          }
        }
      }
      .md_pofo_image_banner_v2__media {
        width: 50%;
        position: relative;
        img {
          width: 100%;
          height: auto;
          display: block;
        }
      }
    }
  }
}