.container{
    position: relative;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
}
.container-fluid{
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
