@use "../../scss/abstracts";

.wp-block-md-putco-sample-block {
  background-color: abstracts.$green-theme-color;
  color: abstracts.$white-theme-color;
  padding: 5px 10px;
}

.putco-stat-number {
  position: relative;
  border-bottom: 1px solid #dee2e6;
  .container {
    display: flex;
    flex-direction: column;
    gap: 60px;
    position: relative;
    z-index: 1;
    .putco-stat-number__inner {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .putco-stat-number__inner__item {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 14px;
        padding: 35px 15px;
        border-right: 1px solid #dee2e6;
        h3 {
          font-size: 50px;
          line-height: 50px;
          font-weight: 800;
          font-family: "Plus Jakarta Sans", sans-serif;
          margin: 0;
          color: #4ec5df;
        }
        p {
          font-size: 15px;
          line-height: 24px;
          font-weight: 600;
          font-family: "Plus Jakarta Sans", sans-serif;
          color: #ffffff;
          margin: 2px 0;
        }
      }
    }
    .item-content-wrap {
      display: flex;
      gap: 10px;
      justify-content: center;
      .column-item-desc {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: baseline;
        text-align: left;
        .review-star-rating {
          background-image: linear-gradient(
            to right,
            #f7693c,
            #c74e45,
            #7d3785,
            #582d9f,
            #3928af
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          font-size: 20px;
        }
      }
    }
  }
  .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  &.top {
    border: none;
    .putco-stat-number__inner {
      box-shadow: 0 0 45px rgba(0,0,0,.09);
      .putco-stat-number__inner__item {
        border-right: none;
        border-bottom: 1px solid #dee2e6;
      }
    }
  }
}
