@font-face {
    font-family: 'OpenSansRegular';
    src: url('../fonts/OpenSansRegular.eot');
    src: url('../fonts/OpenSansRegular.eot') format('embedded-opentype'),
         url('../fonts/OpenSansRegular.woff2') format('woff2'),
         url('../fonts/OpenSansRegular.woff') format('woff'),
         url('../fonts/OpenSansRegular.ttf') format('truetype'),
         url('../fonts/OpenSansRegular.svg#OpenSansRegular') format('svg');
}

@font-face {
    font-family: 'AUTHENTICSans60, sans-serif';
    src: url('../fonts/AUTHENTICSans60.eot');
    src: url('../fonts/AUTHENTICSans60.eot') format("embedded-opentype"), 
         url('../fonts/AUTHENTICSans60.woff2') format("woff2"), 
         url('../fonts/AUTHENTICSans60.woff') format("woff"), 
         url('../fonts/AUTHENTICSans60.ttf') format("truetype"), 
         url('../fonts/AUTHENTICSans60.svg#AUTHENTICSans60') format("svg");
}

@font-face {
    font-family: 'AUTHENTICSans90, sans-serif';
    src: url('../fonts/AUTHENTICSans90.eot');
    src: url('../fonts/AUTHENTICSans90.eot') format("embedded-opentype"), 
         url('../fonts/AUTHENTICSans90.woff2') format("woff2"), 
         url('../fonts/AUTHENTICSans90.woff') format("woff"), 
         url('../fonts/AUTHENTICSans90.ttf') format("truetype"), 
         url('../fonts/AUTHENTICSans90.svg#AUTHENTICSans90') format("svg");
}

@font-face {
    font-family: 'AUTHENTICSans150, sans-serif';
    src: url('../fonts/AUTHENTICSans150.eot');
    src: url('../fonts/AUTHENTICSans150.eot') format("embedded-opentype"), 
         url('../fonts/AUTHENTICSans150.woff2') format("woff2"), 
         url('../fonts/AUTHENTICSans150.woff') format("woff"), 
         url('../fonts/AUTHENTICSans150.ttf') format("truetype"), 
         url('../fonts/AUTHENTICSans150.svg#AUTHENTICSans150') format("svg");
}

@font-face {
    font-family: 'SometypeMonoMedium, sans-serif';
    src: url('../fonts/SometypeMonoMedium.eot');
    src: url('../fonts/SometypeMonoMedium.eot') format("embedded-opentype"), 
         url('../fonts/SometypeMonoMedium.woff2') format("woff2"), 
         url('../fonts/SometypeMonoMedium.woff') format("woff"), 
         url('../fonts/SometypeMonoMedium.ttf') format("truetype"), 
         url('../fonts/SometypeMonoMedium.svg#SometypeMonoMedium') format("svg");
}

@font-face {
    font-family: 'SometypeMonoRegular, sans-serif';
    src: url('../fonts/SometypeMonoRegular.eot');
    src: url('../fonts/SometypeMonoRegular.eot') format("embedded-opentype"), 
         url('../fonts/SometypeMonoRegular.woff2') format("woff2"), 
         url('../fonts/SometypeMonoRegular.woff') format("woff"), 
         url('../fonts/SometypeMonoRegular.ttf') format("truetype"), 
         url('../fonts/SometypeMonoRegular.svg#SometypeMonoRegular') format("svg");
}