@use '../../scss/abstracts';

.wp-block-md-pointcentral-fse-sample-block {
    background-color: abstracts.$green-theme-color;
    color: abstracts.$white-theme-color;
    padding: 5px 10px;
}
.pointcentral-tab-banner {
    margin: 20px 0;
    .tab-list {
        .tab-list-inner {
            display: flex;
            justify-content: space-evenly;
            padding: 20px 0;
            align-items: start;
            gap: 20px;
            flex-wrap: wrap;
            .tab-list-item {
                display: flex;
                flex-direction: column;
                gap: 20px;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                width: 10%;
                .md-tab-icon {
                    background: #0b325b;
                    width: 40px;
                    padding: 26px 20px;
                    border-radius: 100%;
                    color: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 18px;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
                .tab-title {
                    color: #fff !important;
                    font-size: 18px !important;
                    font-weight: 500;
                    text-align: center;
                }

                &.active {
                    .md-tab-icon {
                        background: #92c4e9;
                    }
                }
            }
        }
    }
    .tab-content {
        padding: 30px 80px;
        .tab-content-item {
            display: none;
            &.active { display: block; }
            .tab-content-inner {
                display: flex;
                align-items: center;
                .tab-content-left {
                    padding-right: 60px;
                    padding-left: 1%;
                    text-align: center;
                    width: 66%;
                    h2 {
                        color: #545454;
                        font-size: 28px !important;
                        line-height: normal !important;
                        margin-bottom: 30px !important;
                        font-weight: 700;
                        font-style: normal;
                        text-align: center;
                    }
                    p {
                        font-size: 19px !important;
                        font-weight: 400;
                        text-align: center;
                        line-height: 1.2;
                    }
                    .tab-content-button {
                        border-radius: 0 !important;
                        font-size: 16px;
                        padding: 10px 40px ! IMPORTANT;
                        font-family: Montserrat !important;
                        font-weight: 600;
                        margin: 0 auto;
                        display: inline-block;
                        background-color: #0e5aa8 !important;
                        color: #fff;
                        text-decoration: none;
                        a {
                            color: inherit;
                            text-decoration: none;
                        }
                    }
                }
                .tab-content-right {
                    width: 33%;
                    padding: 0 10px;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }
}