<!-- wp:template-part {"slug":"header","theme":"md-efi-theme","tagName":"header"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|container","bottom":"var:preset|spacing|container"}}},"backgroundColor":"base","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-base-background-color has-background" style="padding-top:var(--wp--preset--spacing--container);padding-bottom:var(--wp--preset--spacing--container)"><!-- wp:post-featured-image {"width":"100%","height":"300px","align":"full"} /-->

	<!-- wp:group {"align":"full","style":{"typography":{"fontSize":"14px"},"border":{"width":"1px"},"spacing":{"padding":{"top":"var:preset|spacing|15","bottom":"var:preset|spacing|15","left":"var:preset|spacing|50","right":"var:preset|spacing|50"}}},"fontFamily":"be-vietnam-pro","layout":{"type":"flex","flexWrap":"nowrap"}} -->
	<div class="wp-block-group alignfull has-be-vietnam-pro-font-family" style="border-width:1px;padding-top:var(--wp--preset--spacing--15);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--15);padding-left:var(--wp--preset--spacing--50);font-size:14px"><!-- wp:paragraph -->
	<p><a href="https://www.efi.com/">Home</a>&nbsp;&nbsp;&gt; </p>
	<!-- /wp:paragraph -->
	
	<!-- wp:post-title {"style":{"typography":{"fontSize":"14px"}},"fontFamily":"be-vietnam-pro"} /--></div>
	<!-- /wp:group -->
	
	<!-- wp:group {"layout":{"inherit":true,"type":"constrained"}} -->
	<div class="wp-block-group"><!-- wp:columns {"style":{"spacing":{"blockGap":{"top":"var:preset|spacing|50","left":"var:preset|spacing|50"}}}} -->
	<div class="wp-block-columns"><!-- wp:column {"width":"100%"} -->
	<div class="wp-block-column" style="flex-basis:100%"><!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|40","right":"var:preset|spacing|40","bottom":"var:preset|spacing|40","left":"var:preset|spacing|40"}}},"backgroundColor":"base","layout":{"type":"constrained"}} -->
	<div class="wp-block-group has-base-background-color has-background" style="padding-top:var(--wp--preset--spacing--40);padding-right:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--40);padding-left:var(--wp--preset--spacing--40)"><!-- wp:group {"tagName":"main","layout":{"inherit":true,"type":"constrained"}} -->
	<main class="wp-block-group"><!-- wp:group {"align":"wide","layout":{"type":"default"}} -->
	<div class="wp-block-group alignwide"><!-- wp:post-title {"textAlign":"center","level":1,"align":"wide","style":{"typography":{"fontSize":"50px"}},"fontFamily":"urbanist"} /-->
	
	<!-- wp:group {"align":"full","layout":{"type":"flex","allowOrientation":false,"justifyContent":"left","flexWrap":"wrap"}} -->
	<div class="wp-block-group alignfull"><!-- wp:post-date /-->
	
	<!-- wp:post-author {"showAvatar":false,"showBio":false} /--></div>
	<!-- /wp:group -->
	
	<!-- wp:post-content {"align":"full","layout":{"inherit":false}} /-->
	
	<!-- wp:group {"align":"full","layout":{"inherit":true,"type":"constrained"}} -->
	<div class="wp-block-group alignfull"><!-- wp:group {"align":"full","layout":{"type":"flex","justifyContent":"space-between"}} -->
	<div class="wp-block-group alignfull"><!-- wp:post-terms {"term":"category","fontSize":"small"} /-->
	
	<!-- wp:post-terms {"term":"post_tag","fontSize":"small"} /--></div>
	<!-- /wp:group --></div>
	<!-- /wp:group --></div>
	<!-- /wp:group --></main>
	<!-- /wp:group --></div>
	<!-- /wp:group --></div>
	<!-- /wp:column --></div>
	<!-- /wp:columns --></div>
	<!-- /wp:group --></div>
	<!-- /wp:group -->
	
	<!-- wp:template-part {"slug":"footer","theme":"md-efi-theme","tagName":"footer"} /-->